@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .marca {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navegacao {
    position: relative;
}

header .navegacao .navegacao-itens a {
    position: relative;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition:  0.3s ease;
}

header .navegacao .navegacao-itens a::before {
    content: '';
    position: absolute;
    background: #000;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navegacao .navegacao-itens a:hover:before {
    width: 100%;
}